<header>
    <nav>
        <ul>
            <li><a href="/">Quasar.Kim</a></li>
            <li class="float-right sticky">
                <a href="https://github.com/Quasar-Kim" target="_blank">
                    <img src="/static/icon/mark-github.svg" alt="github icon" class="icon dim">
                </a>
            </li>
            <li class="float-right sticky">
                <a href="/feed.xml" target="_blank">
                    <img src="/static/icon/rss.svg" alt="rss icon" class="icon dim">
                </a>
            </li>
        </ul>
    </nav>

</header>