<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta rel="canonicial" href="{{ page.url | escape }}">
    <meta property="og:title" content="{{ title or renderData.title or metadata.title }}">
    <meta property="og:url" content="{{ page.url | escape }}">
    <meta property="og:description" content="{{ description or renderData.description }}">
    <meta name="description" content="{{ description or renderData.description }}">
    <meta property="og:image" content="https://quasar.kim/static/og_meta_front.png">
    <meta property="og:type" content="article">
    {# <link rel="preload" href="/css/codeTheme.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
    {# <noscript><link rel="stylesheet" href="/css/codeTheme.css"></noscript> #}
    <link rel="preload" href="/css/prism-theme.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/prism-theme.css"></noscript>

    {% set css %}
        {% include "style.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% include "nav.njk" %}
        <section>
            <h1>{{ title }}</h1>
            <p>{{ summary }}</p>
            {% if tags | hasSeriesTag %}
            {% set seriesTag = getSeriesTag(tags) %}
            {% set seriesInfo = getSeriesInfo(seriesTag) %}
            <p>
                <a href="/series/{{ seriesInfo.id }}/" class="series-anchor">시리즈: {{ seriesInfo.name }}</a>
            </p>
            {% endif %}
            <time>{{ page.date.toLocaleDateString('ko-KR') }}</time>
        </section>
    </header>
    <main>
        <article>
            {{ content | safe }}
        </article>
        {% if tags | hasSeriesTag %}
        {% set seriesTag = getSeriesTag(tags) %}
        {% set seriesInfo = getSeriesInfo(seriesTag) %}
        <div class="card info">
            <p>
                <a href="/series/{{ seriesInfo.id }}/">시리즈: {{ seriesInfo.name }}</a>
            </p>
            <ol>
            {% for post in collections[seriesTag] %}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
        {# utterances comments #}
        <script src="https://utteranc.es/client.js"
        repo="quasar-kim/quasar.kim"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
        </script>
    </main>
    {% include "footer.njk" %}
</body>
</html>
