---
layout: post.njk
title: 소개글
summary: 이 블로그에 대한 소개
tags: blog
---

<section>
  <h2>안녕하세요</h2>
  <p>
    컴퓨터공학을 공부하고 싶은 학생입니다.
    무언가 다른 사람들에게 보여주고 싶은 게 있을 때 이 블로그를 활용할 계획입니다.
  </p>
  <h2>오직 HTML만</h2>
  <p>
    전 블로그용으로 마크다운을 사용하지 않기로 결정했습니다. 항상 마크다운을 쓸때마다 일반 마크다운으로 해결이 어려운 상황이 생겨서 이질적인 HTML 코드를 붙여놔야 했기 때문입니다. 그럴 바에는 그냥 HTML로 다 쓰는게 낫다고 생각하던 참에 클래스를 거의 사용하지 않고 HTML 태그만 써도 멋진 스타일을 낼 수 있도록 해주는 <a href="https://classless.de">classless.css</a> 란 프로젝트를 발견해 이걸 이용하기로 했지요. 지금 검사기를 열어서 HTML 코드를 확인해보세요. 아름다워서 읽기만 해도 마음이 편안해집니다.
  </p>
  <h2>사용한 도구들</h2>
  <ul>
    <li>클래스 없이도 아름다운 사이트를 만들 수 있는 <a href="https://classless.de">classless.css</a></li>
    <li>정적 사이트 생성기 <a href="https://www.11ty.dev">11ty</a></li>
    <li>템플릿 언어 <a href="https://mozilla.github.io/nunjucks">Nunjucks</a></li>
    <li>코드 저장소를 제공해 준 <a href="https://github.com/quasar-kim/quasar.kim">Github(저장소로 연결)</a></li>
    <li>자동화된 빌드 시스템을 제공해 준 <a href="https://vercel.com">Vercel</a></li>
    <li>DNS와 TLS 인증서를 무료로 제공해 준 <a href="https://cloudflare.com">Cloudflare</a></li>
    <li>Github 이슈 트래커를 댓글 공간으로 활용할 수 있도록 해준 <a href="https://utteranc.es">utterances</a></li>
  </ul>
</section>