---
pagination:
    data: series
    size: 1
    alias: seriesInfo
permalink: /series/{{ seriesInfo.id }}/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/classless.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ seriesInfo.name }}</title>
    <style>
        .post-card {
            display: block;
            padding: 1rem;
            margin: 1rem 0;
        }

        .post-card h4 {
            margin-top: 0.6rem;
        }
    </style>
</head>
<body>
    {% include "nav.njk" %}
    <main>
        <section>
            <h1>시리즈: {{ seriesInfo.name }}</h1>
            <p>{{ seriesInfo.description }}</p>
        </section>
        {% for post in collections[seriesInfo.tag] %}
            <div class="bg-light post-card">
                <a href="{{ post.url }}"><h4>{{ post.data.title }}</h4></a>
                <p>{{ post.data.summary }}</p>
                <time>{{ post.date.toLocaleDateString('ko-KR') }}</time>
            </div>
        {% endfor %}
        </div>
    </main>
</body>
</html>
